<!DOCTYPE html>
<html>
<head>
  <title>Quiz 1</title>
</head>
<body>

<h1>Welcome!</h1>

<p>This is a test page for Quiz 1 of <a href="https://thefirehoseproject.com/">The Firehose Project</a>.</p>

</body>
</html>